<a href="https://colab.research.google.com/github/DSrahulsah06/Data-Extraction-From-Receipts-of-Financial-Transaction/blob/master/Fyle_Internship_Assignment(Example_with_dates).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive

drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

## Data Extraction - Remote Assignment

Expense date (also called spend date) is the exact date on which a financial transaction or operation has happened and must be recognized in the accounting system.

In [33]:
#installing the required packages 
!sudo apt install tesseract-ocr
!pip install pytesseract

Reading package lists... Done
Building dependency tree
Reading state information... Done
tesseract-ocr is already the newest version (4.00~git2288-10f4998a-2).
0 upgraded, 0 newly installed, 0 to remove and 29 not upgraded.
Requirement already satisfied: pytesseract in /usr/local/lib/python3.6/dist-packages (0.3.0)
Requirement already satisfied: Pillow in /usr/local/lib/python3.6/dist-packages (from pytesseract) (4.3.0)
Requirement already satisfied: olefile in /usr/local/lib/python3.6/dist-packages (from Pillow->pytesseract) (0.46)

In [34]:
pip install date-extractor

Requirement already satisfied: date-extractor in /usr/local/lib/python3.6/dist-packages (4.0.6)
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from date-extractor) (2018.9)

In [35]:
pip install pytz

Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (2018.9)

In [0]:
#importing packages
import cv2
import numpy as np
import pytesseract
from PIL import Image

In [0]:
# Path of working folder on Disk
src_path = "gdrive/My Drive/Colab Notebooks/Receipts"

In [0]:
def get_string(img_path):
    # Read image with opencv
    img = cv2.imread(img_path)

In [0]:
# Convert to gray
img = cv2.imread("gdrive/My Drive/Colab Notebooks/Receipts/fdaae374.jpeg")
imgGray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)

In [0]:
 # Apply dilation and erosion to remove some noise
    kernel = np.ones((1, 1), np.uint8)
    img = cv2.dilate(img, kernel, iterations=1)
    img = cv2.erode(img, kernel, iterations=1)

In [89]:
# Write image after removed noise
    cv2.imwrite(src_path + "removed_noise.jpeg", img)

True

In [90]:
#  Apply threshold to get image with only black and white
    #img = cv2.adaptiveThreshold(img, 255, cv2.ADAPTIVE_THRESH_GAUSSIAN_C, cv2.THRESH_BINARY, 31, 2)

    # Write the image after apply opencv to do some ...
    cv2.imwrite(src_path + "thres.png", img)

True

In [91]:
# Recognize text with tesseract for python
    result = pytesseract.image_to_string(Image.open(src_path + "thres.png"))

    # Remove template file
    #os.remove(temp)

    result

'———eewOee\nWITASU JAPANESE RESTAURANT SDN BHD\nB-01,CENTRAL PLAZA,\n34, JALAN SULTAN ISMAIL,\n§0250 KUALA LUNPUR\nTEL 03-2110 2833\n(GST Rea. No : 001774428160)\nTax Invoice\nTable D2\nBi 11#;VO01-201060 Odr No; 199535\nDate ; 29-06-2018 19:59:15\n\nCashier\n\n    \n \n\nQty Description\n\n \n\n \n\nSubtotal: 709.50\nSery. Charge (10%): 70.95\nGST Payable (0%): 0,00\nTotal: 780.45\nTOTAL: 780.45\nClosed: 001 29-06-2018 21:52:03\nServer: AARON\n\n780.45\n\nVISA\n= peHOEHIOI2\n~ LIM CHAT JA\n\ner'

In [92]:
print ('Extracting texts from the image')
print(result)

Extracting texts from the image
———eewOee
WITASU JAPANESE RESTAURANT SDN BHD
B-01,CENTRAL PLAZA,
34, JALAN SULTAN ISMAIL,
§0250 KUALA LUNPUR
TEL 03-2110 2833
(GST Rea. No : 001774428160)
Tax Invoice
Table D2
Bi 11#;VO01-201060 Odr No; 199535
Date ; 29-06-2018 19:59:15

Cashier




Qty Description





Subtotal: 709.50
Sery. Charge (10%): 70.95
GST Payable (0%): 0,00
Total: 780.45
TOTAL: 780.45
Closed: 001 29-06-2018 21:52:03
Server: AARON

780.45

VISA
= peHOEHIOI2
~ LIM CHAT JA

er

In [93]:
#extracting dates from the text
from date_extractor import extract_dates
dates = extract_dates(result)
dates

[datetime.datetime(2011, 2, 3, 0, 0, tzinfo=<UTC>),
 datetime.datetime(2001, 2, 1, 0, 0, tzinfo=<UTC>),
 datetime.datetime(1995, 3, 5, 0, 0, tzinfo=<UTC>),
 datetime.datetime(2018, 6, 29, 0, 0, tzinfo=<UTC>),
 datetime.datetime(1959, 1, 5, 0, 0, tzinfo=<UTC>),
 datetime.datetime(1950, 7, 9, 0, 0, tzinfo=<UTC>),
 datetime.datetime(1970, 9, 5, 0, 0, tzinfo=<UTC>),
 datetime.datetime(2001, 2, 6, 0, 0, tzinfo=<UTC>),
 datetime.datetime(1934, 1, 1, 0, 0, tzinfo=<UTC>),
 datetime.datetime(2010, 1, 1, 0, 0, tzinfo=<UTC>),
 datetime.datetime(1945, 1, 1, 0, 0, tzinfo=<UTC>),
 datetime.datetime(1945, 1, 1, 0, 0, tzinfo=<UTC>),
 datetime.datetime(1929, 1, 1, 0, 0, tzinfo=<UTC>),
 datetime.datetime(1945, 1, 1, 0, 0, tzinfo=<UTC>)]

In [94]:
if dates == []:
    print("{“date”: null}")
else:
    #extracting the Expense date from all the dates
    extract_date = []
    for i in dates:
      if i:
        Expense_date = i.strftime('%Y-%m-%d')
        extract_date.append(Expense_date)
    
        print(max(extract_date))

2011-02-03
2011-02-03
2011-02-03
2018-06-29
2018-06-29
2018-06-29
2018-06-29
2018-06-29
2018-06-29
2018-06-29
2018-06-29
2018-06-29
2018-06-29
2018-06-29

In [96]:
print('The Expense date on the receipt is',max(extract_date))

The Expense date on the receipt is 2018-06-29